<section class="container">
    <h1>Login</h1>
    <h2>Por favor iniciar sesión</h2>
    <form id="loginForm">
        <label class="info">Email</label>
        <input type="text" name="email" id="nameInput" required>
        <br>
        <label class="info">Contraseña</label>
        <input type="password" name="password" id="nameInput" required>
    </form>
    <button type="submit" form="loginForm">Iniciar sesión</button>
</section>

<script src="./js/login.js"></script>
