<section class="container">
    <h1>Editar usuarios</h1>
    <h2>Por favor edite al usuario</h2>
    <form id="modifyUserForm">
        <label class="info">Nombre</label>
        <input type="text" name="firstName" id="nameInput" required>
        <br>
        <label class="info">Apellidos</label>
        <input type="text" name="lastName" id="nameInput">
        <br>
        <label class="info">Email</label>
        <input type="text" name="email" id="nameInput" required>
        <br>
     </form>
    <button type="submit" form="modifyUserForm">Actualizar</button>
</section>

<script src="./js/users.js"></script>