<section class="container">
    <h1>Editar usuarios</h1>
    <h2>Por favor edite al usuario</h2>
    <form id="modifyUserForm">
        <label class="info">Nombre</label>
        <input type="text" name="firstName" id="firstName" required>
        <br>
        <label class="info">Apellidos</label>
        <input type="text" name="lastName" id="lastName">
        <br>
        <label class="info">Email</label>
        <input type="text" name="email" id="email" required>
        <br>
        <label class="info">Role</label>
        <input type="text" name="role" id="role" required>
        <br>
     </form>
     <br>
    <button type="submit" form="modifyUserForm">Actualizar</button>
</section>

<script src="/js/modify.user.js"></script>