<section class="container">
    <h1>Agregar productos</h1>
    <h2>Por favor agregue el producto</h2>
    <form id="modifyProductForm">
        <label class="info">Titulo del producto</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label class="info">Describir</label>
        <input type="text" name="description" id="description" required>
        <br>
        <label class="info">Code</label>
        <input type="text" name="code" id="code" required>
        <br>
        <label class="info">Precio</label>
        <input type="number" name="price" id="price" required>
        <br>
        <label class="info">Estado</label>
        <input type="text" name="status" id="status" required>
        <br>
        <label class="info">Stock</label>
        <input type="number" name="stock" id="stock" required>
        <br>
        <label class="info">Categoria</label>
        <input type="text" name="category" id="category" required>
        <br>
         <label class="info">Imagenes</label>
        <input name="thumbnails" id="thumbnails">
        <br>
        
     </form>
     <br>
    <button type="submit" form="modifyProductForm">Agregar</button>
</section>

