<section class="container">
    <h1>Register</h1>
    <h2>Por favor registrarse</h2>
    <form id="registerForm">
        <label class="info">Nombre</label>
        <input type="text" name="firstName" id="nameInput" required>
        <br>
        <label class="info">Apellidos</label>
        <input type="text" name="lastName" id="nameInput">
        <br>
        <label class="info">Email</label>
        <input type="text" name="email" id="nameInput" required>
        <br>
        <label class="info">Contraseña</label>
        <input type="password" name="password" id="nameInput" required>
        <br>
        <label class="info">Edad</label>
        <input type="number" name="age" id="nameInput" min="17">
        <br>
    </form>
    <button type="submit" form="registerForm">Registrarse</button>
</section>

<script src="./js/register.js"></script>
